
@{
    ViewBag.Title = "Help";
}

<h1 class="text-center"><strong>List of helps</strong></h1>
<p>
    <h3><strong>Warranty and support policy of FPT Books:</strong><br></h3>
    - The products and services provided by FPT Books are online 24/7 and 
    can be accessed from anywhere with an internet connection. 
    We commit and agree to ensure the interests of each party on the principle 
    that the supplier must take care of the after-sales service.
</p>

<p>
    <h3><strong>Official support information channels:</strong><br></h3>

    - Email: support@fptbook.vn (highest priority)<br>
    - Skype: fptbooksupport<br>
    - Hotline 24/7: 0900007779<br>
    - On Site (directly at the deployment site):
    depending on the form of contract, customers can be supported by FPTBook.VN
    support staff to guide and troubleshoot.
</p>

<p>
    <h3><strong>Support request processing time:</strong><br></h3>
    - The time to process a serious request that causes the process to die, 
    or to stop the website service is 8 hours (office hours) after the customer notices.<br>
    - Processing time for non-serious support requests is usually from 1 day and up to 
    7 working days, depending on the amount of work that needs to be done for the support request.
</p>

<p>
    <h3><strong>How to handle support requests for each product/service of FPTBook.VN:</strong><br></h3>
    <strong>Support process:</strong><br>
    - Customers send information that needs support through the above-mentioned priority channels.<br>
    - FPTBook.VN classifies and handles support according to the company's regulations.
</p>

<p>
    <h3><strong>FPTBook.VN's service support scope:</strong><br></h3>
    1. For hosting services: handle all problems related to the server and operation of the Website.<br>
    2. For SimpleCMS products (website programming): Support hot fix within 1 month from the time
    of product handover, processing time after 4 hours (office hours).
    Product warranty for 1 year when using other 3rd party hosting.
    Lifetime product warranty if using hosting provided by FPTBook.VN.
</p>

<p>
    <h3><strong>Right to refuse support:</strong><br></h3>

    We do not process no-fee support requests in the following cases:<br>

    <strong>With products for OSD.VN to program and provide</strong><br>
    1. Refuse to support and warranty the product when there is third party interference in
    the source code. When the customer's problem is a serious error, support will be performed
    on the initial backup at the time OSD.VN hands over the product to the customer and instructs
    how to update the patch.<br>

    2. Refuse to support the product programmed by FPTBook.VN after the warranty period
    expires and do not use that product on the server provided by FPTBook.VN.<br>

    <strong>With hosting service</strong><br>

    1. Refuse to install the website on hosting that is not provided by FPTBook.VN<br>

    2. Refuse to patch the website's source code when the customer cannot prove the legal
    use rights of the plugin, theme is commercialized version or belongs to other third party's
    intellectual property rights. <br>

    3. Refuse to provide hosting information, change, create, delete, ... information on
    hosting with new customer staff without official introduction via email or 
    phone with FPTBook.VN.<br>

    Customers can see more terms of use of hosting services of FPTBook.VN here.
</p>